* {
  padding: 0;
  margin: 0;
  box-sizing: border;
}

ul {
  list-style-type: none;
}
:root{
  --yellow: hsl(47, 88%, 63%);
}

body{
  background-color: var(--yellow);
  padding: 5rem 1rem;
}

.container{
  background-color: #fff;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 1rem;
  box-shadow: 10px 10px 0px black;
  max-width: 400px;
  margin-inline: auto;
  font-family: 'outfit', sans-serif;
}

.container .image >img{
  width: 100%;
  border-radius: 15px;
}

.container .text h2{
  background-color: var(--yellow);
  font-size: 1rem;
  display: inline-block;
  padding: 3px 8px;
  margin: 8px 2px 8px;
}
.container .text h1{
  margin-bottom: 10px;
  margin-top: 5px;
  font-size: 1.5rem;
}

.container .text h1:hover{
  color: var(--yellow);
  cursor: pointer;
}

.container .text .publish_date{
  margin-bottom: 10px;
  color: black;
}

.container .text .description{
  font-size: 1rem;
  margin-bottom: 15px;
}

.container .text p{
  color: hsl(0, 0%, 42%);
}

.container .text ul{
  display: flex;
  align-items: center;
  gap: 5px;
}

.container .text ul .name{
  font-weight: bold;
  font-size: 1rem;
}

@media (min-width: 768px){
  body{
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
  }
}